<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="eventDAO" class="tw.damncan.dao.EventDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userDAO" class="tw.damncan.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="departmentDAO" class="tw.damncan.dao.DepartmentDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>